# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=sync_storage
PG_CONN_STR=

# Rahkaran SQL Server
SQL_CONN_STR=

# Active Directory / LDAP
LDAP_SERVER=
LDAP_USER=
LDAP_PASSWORD=
AD_SEARCH_BASE=
AD_COMPANY_VALUE=Digi Express

# Scheduler
TZ=Asia/Tehran
WEEKLY_REBUILD_WEEKDAY=4
